# App
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=jobapi
DB_PASSWORD=jobapi_pass
DB_NAME=job_applications

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=change_this_jwt_secret_min_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_refresh_secret_min_32_chars
JWT_REFRESH_EXPIRES_IN=7d

# Webhooks
WEBHOOK_SECRET=change_this_webhook_hmac_secret

# Rate limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
AUTH_THROTTLE_LIMIT=10
